/.env
/.env.*
/.my_pgpass
/.venv/
/.vscode/
/.pg_service.conf
.idea
/**/__pycache__
/.pypirc
/src/logs/
/.devcontainer/data
/.devcontainer/scripts
/.devcontainer/Tables.yaml
/.devcontainer/backup
/.k8s

/.devcontainer/certs/
/build/
/crud_repository.egg-info/
/dist/
/src/resources/
/.github/workflows/pylint.yml
/poetry.lock
/poetry.toml
