/.env
/.env.*
/.my_pgpass
/.venv/
/.vscode/
/.pg_service.conf
.idea
/**/__pycache__
/.pypirc
/**/.pytest_cache
/.devcontainer/data
/.devcontainer/scripts
/.devcontainer/Tables.yaml
/.devcontainer/backup
/.k8s
# Ignore all files in the src/logs directory
/src/logs/**
/tests/logs/**
# But do not ignore the directory itself
!/src/logs/.gitkeep
/.devcontainer/certs/
/build/
/crud_repository.egg-info/
/dist/
/src/resources/
/.github/workflows/pylint.yml
/poetry.lock
/poetry.toml
/.devcontainer/nginx-proxy/

/AI-RESPONSE.md
/tests/test_model_a.py
/tests/test_model_b.py
