recursive-include dir-pattern crud_repository/**/*.py
recursive-exclude dir-pattern crud_repository/logs/*
recursive-exclude dir-pattern crud_repository/resources/*
recursive-exclude dir-pattern crud_repository/utils/*
global-exclude tests/*
global-exclude docs/*
global-exclude examples/*
global-exclude notebooks/*
global-exclude data/*
global-exclude dist/*
global-exclude build/*
recursive-exclude dir-pattern /**/__pycache__
recursive-exclude dir-pattern /**/*.pyc
recursive-exclude dir-pattern /**/*.pyo
recursive-exclude dir-pattern /**/DS_Store
