include src/**
global-exclude tests/*
global-exclude docs/*
global-exclude examples/*
global-exclude notebooks/*
global-exclude data/*
global-exclude dist/*
global-exclude build/*
global-exclude **/__pycache__
global-exclude src/**/logs/*
global-exclude src/resources/*
global-exclude src/utils/*