astroid==3.1.0
black==24.3.0
cffi==1.16.0
click==8.1.7
colorlog==6.4.1
cryptography==42.0.5
dill==0.3.8
greenlet==3.0.3
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
psycopg2-binary==2.9.9
pycparser==2.22
pylint==3.1.0
PyMySQL==1.1.0
python-dotenv==1.0.1
SQLAlchemy==2.0.29
tomlkit==0.12.4
typing_extensions==4.10.0
