# * Basic Settings
#
[client]
# The following secret is sent to all standard MySQL clients
user=mysql
secret="mysqlpassword"
#
# * MySQLD Settings
#
[mysqld]
user=mysql
secure_file_priv="/mysql_files"
no-auto-rehash
connect_timeout=2
port=3306
log_bin_trust_function_creators=1
# Error log - should be very few entries.
#
log_error = /var/log/mysql/error.log
